.contact-wrap{
  width: 1220px;
  margin: 0 auto;
  text-align: center;
}
.contact-h2 {
  font-size: 2em;
  height: 100px;
  line-height: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-ul{
  width: 960px;
  margin: 0 auto;
  font-size: 18px;
  font-family: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-ul>li {
  width: 200px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
}
.contact-ul>li>a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  font-weight: 900;
}
.contact-ul>li:first-child {
  font-size: 1.4em;
  color: #ea0029;
  text-decoration: underline;
}
.contact-ul>li:hover{
  color: #ea0029;
  text-decoration: underline;
}
.contact-main{
  width: 1220px;
  margin: 30px auto;
  padding-bottom: 50px;
}
.trigger {
  width: 700px;
  height: 50px;
  text-align: left;
  border-top: 0.5px solid black;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 800;
}
.body {
  display: none;
  width: 700px;
  text-align: left;
  font-size: 20px;
  margin: 10px auto;
}
.trigger>span {
  display: inline-block;
  float: right;
  margin-left: 100px;
  font-size: 24px;
  font-weight: 800;
  color: black;
}
.trigger:hover {
  color: #ea0029;
}
.trigger:focus {
  color: #ea0029;
}
.by1 {
  display: block;
}
.icon1 {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}