body {
    font-weight: 500;
    font-size: 18px;
}

.page-header {
    padding: 50px 0 0;
    text-align: center;
}

.page-header h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.16;
    margin: 0;
    padding: 0;

}
.map>div{
    margin: auto;
}
.page-header p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-map {
    position: relative;
}

.search-list {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 100;
    z-index: 10;
    width: 300px;
    margin-left: 30px;
    background: #fff;
}

.form {
    padding: 0 25px;
    margin: 0;
}

fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

legend {
    border: 0;
    background: transparent;
    color: transparent;
    text-shadow: none;
}

.location select {
    float: left;
    width: calc(50% - 10px);
}

.form select {
    height: 40px;
    border-style: none;
    border-bottom: 2px solid #000;
    margin-right: 10px;
    padding: 9px 40px 9px 0;
    font-size: 12px;
    box-sizing: border-box;
}

.form [type=text] {
    height: 10px;
    padding: 9px 40px 9px 0;
    border-style: none;
    border-bottom: 2px solid #000;
    font-size: 12px;
    width: 80%;
    margin-top: 30px;
}

.form fieldset+button {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    margin-top: 30px;
    border-style: none;
    border: 2px solid #000;
    font-size: 16px;
}

.form fieldset+button:hover {
    background-color: #ea0029;
    border-color: #ea0029;
    color: #fff;
}

button {
    display: block;
    cursor: pointer;
    background: transparent;
}
.list{
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    top:220px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
}
.list li{
    text-align: center;
    list-style: none;
}

.list div {
    display: block;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.list h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 700;
    border-bottom: 2px solid #000;
}
address{
    font-style: normal;
    display: block;
}
li p{
    margin: 0;
}